@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

body{
    font-family: 'Barlow', sans-serif;

}
.header{
    display: block;
    position: relative;
    border-bottom: 1px solid #3e3e3e;
    z-index: 2;
}
.container_box{
    padding: 0px 60px;
    display: block;
}
.top_nav_bar{
    background-color: #11161f;
    padding-top: 6px;
}
.top_nav{
    height: 40px;
    padding-top: 5px;
}
.social_media{
    /* display: inline-block; */
    float: left;
}
.top_nav ul{
    display: inline-flex;
    color: #959ca7;
    list-style: none;
    padding: 0px;
    margin: 0px !important;
}
.top_nav ul li{
    font-size: 13px;
    line-height: 30px;
}
.top_nav ul li a{
    text-decoration: none;
    color: #959ca7;
    font-weight: 600;
    font-size: 13px;
}
.top_nav ul li i{
    position: relative;
    display: inline-block;
    padding-right: 5px;
    font-weight: 400;
}
.social_media ul li{
    margin-right: 25px;
}
.sign_in ul li{
    margin-left: 25px;
}
.top_nav ul li a:hover{
    color: #fc3c3c;
    text-decoration: none;
}
.sign_in{
    float: right;
}
.head_wrap{
    display: block;
}
.nav_bar{
    height: 80px;
    /* padding-top: 30px; */
    display: flex;
    justify-content: start;
    width: 100%;
    position: relative;
}
.menu{
    display: inline-flex;
    margin-left: 100px;
    /* right: 0; */
}
.logo{
    padding: 31px 0px 31px;
}
.dropdown{
    display: block;
    margin-left: 25px;
    padding: 31px 0px 31px;
}
.dropdown a{
    color: #fff;
    margin-left: 20px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    text-decoration: none;

}
.dropdown:hover{
    border-top: 1.5px solid #fc3c3c;
    transition:  1200ms ease;

}
.dropdown i{
    font-size: 25px;
    font-weight: 100;
}
.btn{
    display: flex;
    padding:0px !important;
    align-items: center;
    justify-content: center;
    /* padding-top: 12px; */
}
.btn button{
    /* display: block; */
    justify-content: flex-end;
    margin-left: 20px;
    padding: 0px 30px;
    width: 200px;
    color: #fff;
    background: #fc3c3c;
    font-size: 12px;
    line-height: 55px;
    font-weight: 600;
    letter-spacing: 0.2em;
    border-radius: 4px;
    border: none;
}
.dropdown button i{
    font-size: 12px;
    font-weight: normal;
}
.dropdown .dropdown-menu{
    position: absolute !important;
    top: 22px !important;
    width: 200px;
}
.dropdown-menu a{
    margin:0px;
    color: #000;
    line-height: 40px;
}
.dropdown-menu a:hover{
    color: #fc3c3c;
    background: none;
}
.cart_item a:hover{
    color: #fc3c3c;
    transition: all 500ms ease;
}
.dropdown-item{
    padding-right: 40px;
}

.cart_item{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}
.slide_wrap{
    height: 127vh;

}
.slide_items{
    margin: 0px;
    padding: 0px;
    float: left;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 150vh;
    background-repeat: no-repeat;
    background-image: url(../images/banner1.jpg);
    background-position: center;
}
.mid_content{
    height: 133vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    position: relative;
    display: inline-block;
    font-size: 80px;
    line-height: 30px;
    color: #fc3c3c;
    font-weight: 400;
    margin: 0;
    z-index: 1;
    font-family: "Sacramento", cursive;
    margin-bottom: 15px;
}
.mid_content{
    margin-top: 40px;
}
.mid_content h1{
    position: relative;
    color: #fff !important;
    display: block;
    font-size: 80px;
    line-height: 80px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 14px;
}
.mid_content p{
    font-size: 20px;
    line-height: 30px;
    display: block;
    margin: 0;
    color: #fff;
}
.search_wrap{
    padding: 0px;
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 58px;
    color: rgb(153, 158, 166);
}
.search_wrap ul{
    color: rgb(153, 158, 166);
    width: 100%;
    height: 65px;
    display: inline-flex;
    list-style: none;
    text-decoration: none;
    margin-top: 50px;
}

.input_box{
    position: relative;
    display: block;
    /* max-width: 320.5px; */
    width: 100%;
    height: 100%;
    float: left;
    border-right: 1px solid #dee2e8;
    border: none;
}
.search_wrap select{
    color: rgb(153, 158, 166);
    height: 100%;
    width: 100%;
    border: none;
    border-left: 1px solid #eee;
    padding-left: 50px;
    font-size: 16px;
    line-height: 34px;

}
#look{
    height: 100%;
    width: 100%;
    border: none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding-left: 50px;
    font-size: 16px;
    line-height: 34px;
    font-weight: 500;
} 
.search_button{
    width: 200px;
    height: 100%;
    margin-left: 20px;
    border: none;
    
}
#sp{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}  
button.sbtn{
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: #fc3c3c;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 3px
}
button.sbtn:hover{
    background-color: #fff;
    color: #000;
}
.search_button i{
    padding-right: 10px;
}
.curl_shape{
    position: absolute;
    left: 415px;
    top: 640px;
}
.curl_shape p{
    padding-left: 80px;
    font-size: 40px;
    color: #fff;
    font-weight: 400;
    line-height: 50px;
    margin: 0;
    font-family: "Sacramento", cursive
}
.slider_service{
    width: 100%;
    background-repeat: no-repeat;
    opacity: 0.2;
    background-image: url('../images/map1.png');
}
.service_item{
    opacity: 1 !important;
    height: 150px;
    border: 1px solid #000;
}
.service_item i{
    font-size: 65px;
    opacity:1;
    color: #fc3c3c;
}
.service_item span{
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
}